 <!DOCTYPE html>
  <html>
  <head>
    <title></title>
  </head>
  <body>

  <nav class='top-nav'>      
                  <div class='nav-bar'>
                      <div class="nav-wrapper">
                        <div class='container'>
                              <a href="#" class="brand-logo">Victor and Chad</a>
                              <% if logged_in? %>
                                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                                      <li><a href=>Where It All Began</a></li>
                                      <li><a href=>Photos</a></li>
                                    </ul>
                              <% else %>
                                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                                      <li><a href='/login'>Log In</a></li>
                                      <li><a href='/signup'>Sign Up</a></li>
                                      <li></li>
                                    </ul>
                              <% end %>
                        </div>                        
                      </div>
                  </div>
            </nav>
  <div class='container'>
    <div class='container'>
      <%= form_tag '/login' do %>
        <label>First Name</label>
        <%= text_field_tag :first_name %>
        <label>Last Initial</label>
        <%= text_field_tag :last_initial %>
        <label>Password</label>
        <%= password_field_tag :password %>
        <%= submit_tag 'Login' %>
      <% end %>
    </div>
  </div>
  </body>
  </html> 